@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(58, 40, 40);
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

body {
    /* background-color: #f7f7f7; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculatorDiv{
    width: 500px;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    border: 1px solid rgba(79, 74, 74, 0.82);
    border-radius: 1rem;
}

.calculatorDiv div div{
    display: flex;
}

 a{
    text-decoration: none;
    color: #fff;
 }
input{
    max-width:200px ;
    min-width: 50px;
    max-height: 2rem;
    min-height: 2rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #5d5959;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0.3rem;
}
 
.input{
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

h2{
    margin: 1rem 0;
    color: #141010;
}

.input input{
    width: 100px;
}

button {
    max-width: 150px;
    min-width: 100px;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 0.5rem;
    color: #fff;
    background: #0d6efd;
    font-weight: 900;
    font-size: 1rem;
    margin: 12px 0;
    padding: 8px;
    cursor: pointer;
    letter-spacing: 1px;
}
 

label{
    font-size: 18px;
    margin: 0 2rem;
    padding: 0;
    padding: 8px 0;
    font-weight: 900;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

p{
    
    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center; 
}




.subDiv{
    
    text-align: center;
}

.subDiv div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator4,
#calculator5,
#calculator6{
    font-size: 16px;
}

span{
    font-weight: 600;
    display: flex;
}
.row{
    flex-direction: column;
}

.column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.column button{
    margin-top: 3rem;
}
select{
    height: 2rem;
    margin: 0 0.5rem;
}
#action{
    border-radius: 0.3rem;
    font-weight: 700;
}

.output{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}